</head>
 <body>
	
  <center>
  calculator
  <form name="form1" method="GET" action="/research">
   <table border="1">
    <tr>
     <!--input type="text" name="data" style="width:200px" disabled="disabled"/-->
	 {{add}}
    </tr>
    <tr>
     <td align="center"><input name="v7" type="submit" value="7" onclick="append8();"
     style="width:31px"/></td>
     <td align="center"><input name="v8" type="submit" value="8" onclick="append8();"
     style="width:31px"/></td>
     <td align="center"><input name="v9" type="submit" value="9" onclick="append9();"
     style="width:31px"/></td>
     <td align="center"><input name="vd" type="submit" value="/" onclick="appendd();"
     style="width:31px"/></td>
    </tr>
    <tr>
     <td align="center"><input name="v4" type="submit" value="4" onclick="append4();"
     style="width:31px"/></td>
     <td align="center"><input name="v5" type="submit" value="5" onclick="append5();"
     style="width:31px"/></td>
     <td align="center"><input name="v6" type="submit" value="6" onclick="append6();"
     style="width:31px"/></td>
     <td align="center"><input name="vm" type="submit" value="*" onclick="appendm();"
     style="width:31px"/></td>
     
    </tr>
    <tr>
     <td align="center"><input name="v1" type="submit" value="1" onclick="append1();"
     style="width:31px"/></td>
     <td align="center"><input name="v2" type="submit" value="2" onclick="append2();"
     style="width:31px"/></td>
     <td align="center"><input name="v3" type="submit" value="3" onclick="append3();"
     style="width:31px"/></td>
     <td align="center"><input name="vc" type="submit" value="-" onclick="appendc();"
     style="width:31px"/></td>
     
    </tr>
    
    <tr>
     <td align="center"><input name="v0" type="submit" value="0" onclick="append0();"
     style="width:31px"/></td>
     <td align="center"><input name="ve" type="submit" value="=" onclick="appende();"
     style="width:31px"/></td>
     <td align="center"><input name="vpo" type="submit" value="C" onclick="appendpo();"
     style="width:31px"/></td>
     <td align="center"><input name="vp" type="submit" value="+" onclick="appendp();"
     style="width:31px"/></td>
    </tr>
   </table>
  </form>
  </center>
 </body>
</html>